<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>JunkHub</display-name>
	<context-param>    
   		<param-name>itemSchedulerPeriod</param-name>
   		<param-value>180</param-value>
	</context-param>
	<context-param> 
		<param-name>email.enabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param> 
		<param-name>host.email</param-name>
		<param-value>triangle.junkhub@gmail.com</param-value>
	</context-param>
	<context-param> 
		<param-name>host.password</param-name>
		<param-value>5andst0ne</param-value>
	</context-param>
	<context-param> 
		<param-name>email.timeout</param-name>
		<param-value>5</param-value>
	</context-param>
	<filter>
		<filter-name>ControllerFilter</filter-name>
		<filter-class>edu.unsw.triangle.controller.ControllerFilter</filter-class>
		<init-param>
			<param-name>param</param-name>
			<param-value>value</param-value>
		</init-param>
	</filter>
	<listener>
    	<listener-class>edu.unsw.triangle.service.ServletContextService</listener-class>
	</listener>
	<filter-mapping>
		<filter-name>ControllerFilter</filter-name>
		<url-pattern>/control/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Control</display-name>
		<servlet-name>Control</servlet-name>
		<servlet-class>edu.unsw.triangle.controller.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Control</servlet-name>
		<url-pattern>/control/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>